.search-input1{
    margin-left: 20px;
    margin-right: 20px;
}
.search-input2{
    margin-right: 10px;
}
.add{
    margin-right: 800px;
}
.search{
    float: right;
    margin-right: 200px;
    margin-bottom: 10px;
}